USE [master]
GO
/****** Object:  Database [HMZ]    Script Date: 28/07/2023 23:49:23 ******/
CREATE DATABASE [HMZ]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HMZ', FILENAME = N'C:\Users\leite\HMZ.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HMZ_log', FILENAME = N'C:\Users\leite\HMZ_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HMZ].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HMZ]
GO
/****** Object:  User [meuProjeto]    Script Date: 28/07/2023 23:49:23 ******/
CREATE USER [meuProjeto] FOR LOGIN [meuProjeto] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [meuProjeto]
GO
/****** Object:  Table [dbo].[CadastroClientes]    Script Date: 28/07/2023 23:49:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CadastroClientes](
	[Id] [int] IDENTITY(0,1) NOT NULL,
	[Nome] [varchar](100) NULL,
	[CNPJ] [varchar](100) NULL,
	[EnderecoId] [int] NULL,
	[Ativo] [bit] NULL,
 CONSTRAINT [CadastroClientes_PK] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [CadastroClientes_UN] UNIQUE NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contato]    Script Date: 28/07/2023 23:49:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contato](
	[Id] [int] IDENTITY(0,1) NOT NULL,
	[Nome] [varchar](100) NULL,
	[Cargo] [varchar](100) NULL,
	[Telefone] [int] NULL,
	[Email] [varchar](100) NULL,
 CONSTRAINT [Contato_PK] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [Contato_UN] UNIQUE NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContatoCliente]    Script Date: 28/07/2023 23:49:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContatoCliente](
	[Id] [int] IDENTITY(0,1) NOT NULL,
	[ClienteId] [int] NULL,
	[ContatoId] [int] NULL,
 CONSTRAINT [ContatoCliente_PK] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [ContatoCliente_UN] UNIQUE NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contatos]    Script Date: 28/07/2023 23:49:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contatos](
	[id] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Endereco]    Script Date: 28/07/2023 23:49:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Endereco](
	[Id] [int] IDENTITY(0,1) NOT NULL,
	[Logradouro] [varchar](100) NULL,
	[Bairro] [varchar](100) NULL,
	[Cidade] [varchar](100) NULL,
	[Estado] [varchar](100) NULL,
	[Pais] [varchar](100) NULL,
 CONSTRAINT [Endereco_PK] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [Endereco_UN] UNIQUE NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enderecos]    Script Date: 28/07/2023 23:49:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enderecos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Logradouro] [nvarchar](255) NULL,
	[Bairro] [nvarchar](255) NULL,
	[Cidade] [int] NULL,
	[Estado] [nvarchar](255) NULL,
	[Pais] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CadastroClientes]  WITH CHECK ADD  CONSTRAINT [CadastroClientes_FK_EnderecoId] FOREIGN KEY([EnderecoId])
REFERENCES [dbo].[Endereco] ([Id])
GO
ALTER TABLE [dbo].[CadastroClientes] CHECK CONSTRAINT [CadastroClientes_FK_EnderecoId]
GO
ALTER TABLE [dbo].[ContatoCliente]  WITH CHECK ADD  CONSTRAINT [ContatoCliente_FK_ClienteId] FOREIGN KEY([ClienteId])
REFERENCES [dbo].[CadastroClientes] ([Id])
GO
ALTER TABLE [dbo].[ContatoCliente] CHECK CONSTRAINT [ContatoCliente_FK_ClienteId]
GO
ALTER TABLE [dbo].[ContatoCliente]  WITH CHECK ADD  CONSTRAINT [ContatoCliente_FK_ContatoId] FOREIGN KEY([ContatoId])
REFERENCES [dbo].[Contato] ([Id])
GO
ALTER TABLE [dbo].[ContatoCliente] CHECK CONSTRAINT [ContatoCliente_FK_ContatoId]
GO
USE [master]
GO
